.nav-wrapper {
  /* background-color: #406611; */
  background-color: #25652d;
}

.page-footer {
  background-color: #25652d !important;
}
body a {
  color: white;
}

html, body, #container, #layout {
  height: 100%;
}

main a:hover, main a:focus,
footer a:hover, footer a:focus {
  color: rgb(230, 230, 230) !important;
}

footer, header, main {
  padding-left: 300px;
}

main {
  min-height: 100%;
  margin-bottom: -139px;
}

.pusher, footer {
  height: 139px;
}

#logo {
  text-align: center;
  padding: 10px;
}

.brand-logo {
  /* padding-left: 10px; */
}
